@media screen and (max-width: 300px) {

    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}

@media (min-width: 769px) {
    /*----------HOME-------*/

    .selecionar-por-mascota .card {
        box-shadow: none;
    }

    /*PRODUCTOS*/
    .comprar,
    .ver {
        opacity: 0;
    }

    .cuerpo-tarjeta:hover .comprar,
    .cuerpo-tarjeta:hover .ver {
        opacity: 1;
    }

    .cuerpo-tarjeta:hover {
        box-shadow: 0 0 0.6em rgba(90, 90, 90, 0.377);
    }

    .cuerpo-tarjeta a:hover {
        background: rgb(44, 44, 44);
        transition: all 0, 2s;
    }

    .selecionar-por-mascota .card {
        margin: 20px;
    }

    .burger-menu {
        display: none;
    }

    /*----------HOME-------*/
}